@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Override default react-toastify success */
.Toastify__toast--success {
  background: #22c55e !important; /* Tailwind green-500 */
  color: white !important;
}
.Toastify__progress-bar--success {
  background: white !important;
}
